@page
@model ClassDemoKaffeWebApp.Pages.Kunder.OpretNyKundeModel
@{
}

<h1>Opret en ny kunde</h1>


<form metode="post">
    <div class="form-group>">
        <label>Kunde nummer</label><br/>
        <input class="form-control" asp-for="@Model.NytKundeNummer" /><br />

        <label>Kunde navn</label><br />
        <input class="form-control" asp-for="@Model.NytKundeNavn" /><br />

        <label>Kunde telefon</label><br />
        <input class="form-control" asp-for="@Model.NytKundetlf" /><br />


        <input type="submit" value="Opret Ny Kunde" />
    </div>
</form>
